# Numpy Practice

Proceed with this challenge only if you feel comfortable with Monday's and Tuesday's assignments. If you feel you should spend this time reviewing the lecture/assignments, please do that instead.



---

## 1. Write a NumPy program to convert a list of numeric values into a one-dimensional NumPy array.

In [ ]:
import numpy as np

l = [12.23, 13.32, 100, 36.32]
print("Original List:",l)



---

## 2. Write a NumPy program to create a 3x3 matrix with values ranging from 2 to 10.

In [ ]:
x =  np.arange(2, 11).reshape(3,3)
print(x)



---

## 3. Write a NumPy program to create a null vector of size 10 and update sixth value to 11.

In [ ]:
x = np.zeros(10)
print(x)
print("Update sixth value to 11")
x[6] = 11
print(x)



---

## 4. Write a NumPy program to create a array with values ranging from 12 to 38.

In [ ]:
x = np.arange(12, 38)
print(x)



---

## 5. Write a NumPy program to reverse an array (first element becomes last).

In [ ]:
x = np.arange(12, 38)
print("Original array:")
print(x)



---

## 6. Write a NumPy program to create a 2d array with 1 on the border and 0 inside.

In [ ]:
x = np.ones((5,5))
print("Original array:")
print(x)



---

## 7. Write a NumPy program to find common values between two arrays.

In [ ]:
array1 = np.array([0, 10, 20, 40, 60])
print("Array1: ",array1)
array2 = [10, 30, 40]
print("Array2: ",array2)



---

## 8. Write a NumPy program to find the set exclusive-or of two arrays. Set exclusive-or will return the sorted, unique values that are in only one (not both) of the input arrays.

In [ ]:
array1 = np.array([0, 10, 20, 40, 60, 80])
print("Array1: ",array1)
array2 = [10, 30, 40, 50, 70]
print("Array2: ",array2)



---

## 9. Write a NumPy program to get the values and indices of the elements that are bigger than 10 in a given array.

In [ ]:
x = np.array([[0, 10, 20], [20, 30, 40]])
print("Original array: ")
print(x)



---

## 10. Write a NumPy program to create a new shape to an array without changing its data.

In [ ]:
x = np.array([1, 2, 3, 4, 5, 6])



---

Congrats, now go review yesterday's material.